body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-page, .register-page, .content-wrapper {
  background-image: url('./dist/img/Alternating-Arrowhead.svg');
}
.login-box, .register-box {
  background: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
}

.login-box .card, .register-box .card {
  box-shadow: none;
}

.login-logo {
  border-bottom: 1px solid #00000029;
  margin-bottom: 0;
  padding: 10px 10px;
}

.rbc-event-content {
  text-align: center !important;
}

.login-page:not(.loginUnico), .register-page {
  height: initial !important;
}
